/* src/App.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url('./components/images/img1.jpg');
  background-size: cover; /* This makes the image cover the entire background */
  background-position: center; /* This centers the background image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}


.App {
  flex-grow: 1;
  padding-top: 80px; /* Space for header */
  padding-bottom: 60px; /* Space for footer */
  text-align: center;
  color: white; 
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */

  /* background-color: rgba(0, 0, 0, 0); Fully transparent background */
}

